@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --rem: 10px;
  --color-green-bold-1: #075E54;
  --color-green-bold-2: #128C7E;
  --color-green-light-1: #25D366;
  --color-green-light-2: #DCF8C6;
}
